In [3]:
import sys
print("Python Version : ", str(sys.version))

Python Version :  3.6.3 (default, Oct  3 2017, 21:45:48)
[GCC 7.2.0]

In [14]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Basic Python

Penggunaan fungsi print, menyimpan dan menampilkan variabel

In [11]:
# Untuk awal belajar menampilkan teks pada command line

print("Hello World dengan petik dua")
print('Hello World dengan petik satu')
print('Budi mengatakan "halo, ini hari jum\'at" ')
print() # Cetak Enter
print('Setelah ini baris baru\nBaris baru')

Hello World dengan petik dua
Hello World dengan petik satu
Budi mengatakan "halo, ini hari jum'at"

Setelah ini baris baru
Baris baru

In [43]:
# Sekarang bermain dengan variabel
nilai = 10 # Variabel dengan tipe data integer
print(nilai) # Cetak teks dan variabel dalam satu file

10

In [12]:
pesan = "Nilai Ujian kamu " + nilai + ", Selamat!"
print(pesan)

NameError: name 'nilai' is not defined

In [50]:
pesan = "Nilai ujian kamu " + str(nilai) + ", Selamat!"
print(pesan)

Nilai Ujian kamu 9, Selamat!

In [51]:
print("Nilai ujian kamu " + str(nilai) + ", Selamat!")

Nilai Ujian kamu 9, Selamat!

In [13]:
a = 'hello '
b = 'world'
print(a+b)

hello world

In [52]:
print("Nilai ujian kamu ", nilai, " Selamat!")

Nilai Ujian kamu  9 , Selamat!

In [53]:
print("Nilai ujian kamu %d, Selamat!" % (nilai) )

Nilai Ujian kamu 9, Selamat!

In [18]:
a = 10
b = 'Tes'
c = 0.05
print("%d %s %f" % (a, b, c) )

10 Tes 0.050000

In [25]:
import time
d = time.time()
print(d)
print('%.2f' % (d))

1519206630.866357
1519206630.87

## Mengetahui Tipe Data Variabel

In [39]:
a = 10
print('Variabel a = ', a, ' dengan tipe data ', type(a)) # Cetak teks, variabel dan tipe datanya

Variabel a =  10  dengan tipe data  <class 'int'>

In [40]:
a = 10.0 # Variabel dengan tipe data float
print('Variabel a = ', a, ' dengan tipe data ', type(a)) # Cetak teks, variabel dan tipe datanya

Variabel a =  10.0  dengan tipe data  <class 'float'>

In [41]:
a = '10' # Variabel dengan tipe data string
print('Variabel a = ', a, ' dengan tipe data ', type(a)) # Cetak teks, variabel dan tipe datanya

Variabel a =  10  dengan tipe data  <class 'str'>

In [32]:
a = True # Variabel dengan tipe data boolean
print('Variabel a = ', a, ' dengan tipe data ', type(a)) # Cetak teks, variabel dan tipe datanya

Variabel a =  True  dengan tipe data  <class 'bool'>

## Operasi Dasar Variabel

In [6]:
print(2 + 3)
print(3 - 2)
print(2 * 3)
print(3 / 2)

5
1
6
1.5

In [36]:
print(3 ** 2)
print(3 ** 3)
print(10 ** 6)

9
27
1000000

In [8]:
print(2 + 3*4)
print((2 + 3) * 4)

14
20

In [55]:
print(2/3)

0.6666666666666666

In [39]:
print(round(2/3, 3))

0.667

In [19]:
print("hello " * 5)

hello hello hello hello hello

## List

In [46]:
a = [10, 11, 12]
print(a, type(a))
print(len(a))

[10, 11, 12] <class 'list'>
3

In [47]:
print(a[0], type(a[0]))

10 <class 'int'>

In [67]:
b = [0, 1.0, "12.3"]
print(b, type(b))
print(type(b[0]), type(b[1]), type(b[2]))

for x in range(0,len(b)):
    print( float(b[x]), type(float(b[x])) )

[0, 1.0, '12.3'] <class 'list'>
<class 'int'> <class 'float'> <class 'str'>
0.0 <class 'float'>
1.0 <class 'float'>
12.3 <class 'float'>

In [65]:
datas = [
    '123,123',
    '321.321',
    '23.0'
]

data = datas[2].replace(',','.')

data

'23.0'

In [69]:
c = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
c

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [179]:
c[5:]

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [180]:
c[:5]

[0, 1, 2, 3, 4]

In [181]:
c[7:10]

[7, 8, 9]

In [182]:
c[-1]

14

In [183]:
c[:-1]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [72]:
c[-10:]

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [184]:
# Mengeluarkan error
c[20]

IndexError: list index out of range

In [79]:
d = [
    [1,2,3,4,5],
    [5,4,3,2,1],
    [10,5,3,7,3]
]
d

[[1, 2, 3, 4, 5], [5, 4, 3, 2, 1]]

In [80]:
len(d)

2

In [139]:
d[0]

[1, 2, 3, 4, 5]

In [81]:
d[0][0]

1

In [ ]:
databaru = (d[0][0] + d[0][1] + d[1][0] + d[1][1]) / 4

## Looping

In [143]:
days = ['senin','selasa','rabu','kamis','jumat','sabtu','minggu']
for day in days:
    print(day)

senin
selasa
rabu
kamis
jumat
sabtu
minggu

In [146]:
days = ['senin','selasa','rabu','kamis','jumat','sabtu','minggu']
for day in days:
    print(day)
    print('ini masuk dalam looping')
    print()
print('------------')
print('ini di luar looping')

senin
ini masuk dalam looping

selasa
ini masuk dalam looping

rabu
ini masuk dalam looping

kamis
ini masuk dalam looping

jumat
ini masuk dalam looping

sabtu
ini masuk dalam looping

minggu
ini masuk dalam looping

------------
ini di luar looping

In [147]:
x = [0,1,2,3,4,5,6,7,8,9,10]
for num in x:
    print(num)

0
1
2
3
4
5
6
7
8
9
10

In [149]:
for num in range(0,11):
    print(num)

0
1
2
3
4
5
6
7
8
9
10

In [84]:
# List Comprehension
a = [num for num in range(0,11)]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [187]:
array = [[0]*5 for _ in range(10)]
array

[[0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0]]

In [159]:
array = []
for x in range(0,10):
    array.append(x**2)
array

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [188]:
# Nested Loop
array = [[0]*10 for _ in range(10)]

for x in range(0,10):
    for y in range(0,10):
        array[x][y] = x+y
array

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
 [3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
 [4, 5, 6, 7, 8, 9, 10, 11, 12, 13],
 [5, 6, 7, 8, 9, 10, 11, 12, 13, 14],
 [6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [7, 8, 9, 10, 11, 12, 13, 14, 15, 16],
 [8, 9, 10, 11, 12, 13, 14, 15, 16, 17],
 [9, 10, 11, 12, 13, 14, 15, 16, 17, 18]]

In [85]:
# [[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], x = 0, y = 0..9
#  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], x = 1, y = 0..9
#  [2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
#  [3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
#  [4, 5, 6, 7, 8, 9, 10, 11, 12, 13],
#  [5, 6, 7, 8, 9, 10, 11, 12, 13, 14],
#  [6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
#  [7, 8, 9, 10, 11, 12, 13, 14, 15, 16],
#  [8, 9, 10, 11, 12, 13, 14, 15, 16, 17],
#  [9, 10, 11, 12, 13, 14, 15, 16, 17, 18]] x=9, y = 0..9

## If

In [96]:
a = 1
a == 1

True

In [97]:
a == 2

False

In [98]:
print('test' == 'TEST')
print('test' != 'TEST')
print(a != 2)
print(a > 2)
print(a < 2)
print(a <= 1)
print(a >= 1)

False
True
True
False
True
True
True

### Logic

OR

|       | True | False |
|-------|------|-------|
| True  | True | True  |
| False | True | False |

AND

|       | True | False |
|-------|------|-------|
| True  | True | False  |
| False | False | False |

In [241]:
nama = 'budi'
kelas = 12

print(nama == 'budi' and kelas > 10)
print(nama == 'budi' and kelas < 10)
print(nama == 'budi' or kelas < 10)
print(nama == 'andi' or kelas < 10)

True
False
True
False

In [112]:
if not False:
    print('ini dijalankan')

ini dijalankan

In [243]:
cars = ['daihatsu', 'bmw', 'honda', 'toyota']

for car in cars:
    if car == 'bmw':
        print('\t', car.upper())
    else:
        print(car.title())

Daihatsu
	 BMW
Honda
Toyota

In [113]:
a = 10
b = [x for x in range(0,20)]

if (a in b):
    print(a, 'berada di dalam', b)
    
c = 25

if (c not in b):
    print(c, 'tidak berada di dalam', b)
else :
    print(c, 'berada di dalam', b)

10 berada di dalam [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
15 berada di dalam [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [245]:
age = 12
if age < 4:
    print("Gratis Masuk")
elif age < 18:
    print("Bayar Rp5.000,-")
else:
    print("Bayar Rp10.000,-")

Bayar Rp5.000,-

In [247]:
requested_toppings = ['mushrooms', 'extra cheese']

if 'mushrooms' in requested_toppings:
    print("Adding mushrooms.")
if 'pepperoni' in requested_toppings:
    print("Adding pepperoni.")
if 'extra cheese'in requested_toppings:
    print("Adding extra cheese.")
    
print("\nFinished making your pizza!")

Adding mushrooms.
Adding extra cheese.

Finished making your pizza!

In [248]:
requested_toppings = ['mushrooms', 'extra cheese']

if 'mushrooms' in requested_toppings:
    print("Adding mushrooms.")
elif 'pepperoni' in requested_toppings:
    print("Adding pepperoni.")
elif 'extra cheese'in requested_toppings:
    print("Adding extra cheese.")
    
print("\nFinished making your pizza!")

Adding mushrooms.

Finished making your pizza!

In [114]:
available_toppings = ['mushrooms', 'olives', 'green peppers','pepperoni', 'pineapple', 'extra cheese']
requested_toppings = ['mushrooms', 'french fries', 'extra cheese', 'pineapple', 'olives']
num_of_toppings = 0

for requested_topping in requested_toppings:
    if requested_topping in available_toppings:
        print("Adding " + requested_topping + ".")
        num_of_toppings += 1
        if num_of_toppings > 2:
            print('You get a special price')
    else:
        print("Sorry, we don't have " + requested_topping + ".")
print("\nFinished making your pizza!")

Adding mushrooms.
Sorry, we don't have french fries.
Adding extra cheese.
Adding pineapple.
You get a special price
Adding olives.
You get a special price

Finished making your pizza!

## Dictionaries

In [116]:
peliharaan = {
    "nama": "meong",
    "jenis": "kucing",
    "hobi": ["makan", "tidur", "hilang"]
}
peliharaan

{'hobi': ['makan', 'tidur', 'hilang'], 'jenis': 'kucing', 'nama': 'meong'}

In [117]:
peliharaan.keys()

dict_keys(['nama', 'jenis', 'hobi'])

In [118]:
print('Aku punya %s namanya %s yang sukanya %s ' % (peliharaan['jenis'], peliharaan['nama'], peliharaan['hobi'][0]))

Aku punya kucing namanya meong yang sukanya makan

In [127]:
peliharaan["umur"] = 2
peliharaan["alias"] = 'miauw'
peliharaan

{'alias': 'miauw',
 'hobi': ['makan', 'tidur', 'hilang'],
 'jenis': 'kucing',
 'nama': 'meong',
 'umur': 2}

In [133]:
peliharaan["namas"] = "doni"
peliharaan

{'alias': 'miauw',
 'hobi': ['makan', 'tidur', 'hilang'],
 'jenis': 'kucing',
 'nama': 'doni',
 'namas': 'doni',
 'umur': 2}

In [134]:
del peliharaan['namas']
peliharaan

{'alias': 'miauw',
 'hobi': ['makan', 'tidur', 'hilang'],
 'jenis': 'kucing',
 'nama': 'doni',
 'umur': 2}

In [147]:
nilais = {
    "agus":8.1,
    "andi":9.0,
    "budi":7.5,
    "sari":7.0
}

for nama, nilai in nilais.items():
    print(nama, 'mendapat nilai', nilai)
    if nilai >= 8:
        print('Selamat!')
    else:
        print('Belajar Lagi')

agus mendapat nilai 8.1
Selamat!
andi mendapat nilai 9.0
Selamat!
budi mendapat nilai 7.5
Belajar Lagi
sari mendapat nilai 7.0
Belajar Lagi

In [155]:
print(type(nilais))
print(type(nilai))
print(nilais.items())

<class 'dict'>
<class 'float'>
dict_items([('agus', 8.1), ('andi', 9.0), ('budi', 7.5), ('sari', 7.0)])

### Nested Dict

In [157]:
alien_0 = {'color': 'green', 'points': 5}
alien_1 = {'color': 'yellow', 'points': 10}
alien_2 = {'color': 'red', 'points': 15}
aliens = [alien_0, alien_1, alien_2]

for alien in aliens:
    print(alien)

{'color': 'green', 'points': 5}
{'color': 'yellow', 'points': 10}
{'color': 'red', 'points': 15}

In [160]:
users = {
    'aeinstein': {
        'first': 'albert',
        'last': 'einstein',
        'location': 'princeton',
    },
    'mcurie': {
        'first': 'marie',
        'last': 'curie',
        'location': 'paris',
    }
}

for username, user_info in users.items():
    print("\nUsername: " + username)
    
    print("\tFull name: " + (user_info['first'] + " " + user_info['last']).title())
    print("\tLocation: " + user_info['location'].title())

Username: aeinstein
	Full name: Albert Einstein
	Location: Princeton

Username: mcurie
	Full name: Marie Curie
	Location: Paris

## Fungsi

In [259]:
def greet():
    print("Hello!")

In [260]:
greet()

Hello!

In [261]:
def greet(nama):
    print("Hello", nama, "!")

In [262]:
greet('budi')

Hello budi !

In [172]:
def greeting(nama, umur, jk, nationality='indonesia', rumah='di atas bumi'):
    if nationality == 'indonesia':
        print('Selamat Pagi', nama, umur, jk, nationality, rumah)
    else:
        print("Hello", nama, "from", nationality, umur, jk, rumah)

In [174]:
greeting('tegar', 17, 'L',rumah='Surabaya')

Selamat Pagi tegar 17 L indonesia Surabaya

In [175]:
greeting('Japan','tegar')

TypeError: greeting() missing 1 required positional argument: 'jk'

In [161]:
def describe_pet(animal_type, pet_name):
    print("\nI have a " + animal_type + ".")
    print("My " + animal_type + "'s name is " + pet_name.title() + ".")

describe_pet('harry', 'hamster')
describe_pet(pet_name='harry', animal_type='hamster')
describe_pet(animal_type='hamster',pet_name='harry')

I have a harry.
My harry's name is Hamster.

I have a hamster.
My hamster's name is Harry.

I have a hamster.
My hamster's name is Harry.

In [177]:
def perhitungan(num1, num2, operator = '+'):
    if operator == '+':
        return num1+num2
    elif operator == '-':
        return num1-num2
    else:
        return 0

perhitungan(10,5,'*')

0

In [179]:
def swap(a, b):
    return b, a

a = 10
b = 5
a, b = swap(a,b)
print('a =', a, 'b =', b)

a = 5 b = 10

In [180]:
a = 10
b = 5
a, b = (b, a)
print('a =', a, 'b =', b)

a = 5 b = 10

In [ ]:
red, green, blue = cv.split(image)

In [186]:
a = (1, 2)
a[0]

1

In [187]:
a[0] = 9
a

TypeError: 'tuple' object does not support item assignment

## Pewaktuan

Untuk mengetahui berapa lama program tersebut berjalan

In [188]:
import time
millis = time.time()
print(millis, "detik semenjak 01 Januari 1970. (UTC)")

1519218239.0619135 detik semenjak 01 Januari 1970. (UTC)

In [189]:
start = time.time()
print('hello world')
end = time.time()
print(end-start, 'detik')
print((end-start)*1000, 'milidetik')

hello world
0.0012230873107910156 detik
1.2230873107910156 milidetik

In [77]:
import time                                                

def timeit(method):

    def timed():
        start = time.time()
        result = method()
        end = time.time()

        print('%f milidetik' % ((end-start)*1000))
        return result

    return timed

In [78]:
@timeit
def helloworld():
    print('hellow world')
    
helloworld()

hellow world
0.260830 milidetik

## Files

In [198]:
import csv
with open('names.csv') as csvfile:
    reader = csv.DictReader(csvfile)
    jumlah = 0
    for row in reader:
        print(row['first_name'])
        print(row['last_name'])
        print('-----')
    
    print(jumlah)

Baked
-----
Lovely
-----
Wonderful
-----
tegar
-----
535.5

In [201]:
import csv

a = []

with open('names.csv') as csvfile:
    reader = csv.DictReader(csvfile)
    jumlah = 0
    for row in reader:
        a.append(float(row['last_name']))
        print(row['last_name'])
        print('-----')
    
print(a)
print(min(a))
print(max(a))

1
-----
123
-----
321
-----
90.5
-----
[1.0, 123.0, 321.0, 90.5]
1.0
321.0